.paper {
  background-color: #fff4e2 !important;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 0 10px;
  height: 60px;
  margin-bottom: 14px;
  z-index: 1;
  position: fixed;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.headerRight {
  display: flex;
  align-items: center;
}
.logoContainer {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.logo {
  width: 33px;
  height: 33px;
  margin-right: 25px;
  margin-left: 10px;
}
.searchContainer {
  position: relative;
  margin-right: 15px;
  width: 310px;

  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    opacity: 0.4;
  }

  input {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    padding-left: 40px;
    transition: all 0.1s ease-in-out;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: darken(#fff4e2, 15%);
      box-shadow: 0 0 0 3px rgb(229 160 64 / 12%);
    }
  }
}

.avatar {
    margin-left: 15px;
}
