.content {
  width: 70%;
  margin: 20px auto;
  button {
    position: relative;
    svg {
      position: absolute;
      left: 10px;
      height: 22px;
      width: 22px;
    }
  }
}

.title {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.bottomButtonWrapper {
  display: flex;
  justify-content: space-between;

  button {
    height: 30px;
    &:nth-of-type(2) {
      margin: 0 15px;
    }
    svg {
      position: static;
    }
  }
}

.mailButtonWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    padding: 9px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover{
      color: darken(#f2f2f2, 80%)
    }
  }
}

.authTitleBox{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  justify-content: space-between;
  button{
    height: 10px;
    padding: 0;
  }
}
