.content{
  width: 70%;
  margin: 30px auto;
  button{
    position: relative;
    svg{
      position: absolute;
      left: 10px;
      height: 22px;
      width: 22px;
    }
  }
}

.title {
  font-size: 20px !important;
  font-weight: 600 !important;
  padding-bottom: 30px;
}

.bottomButtonWrapper{
display: flex;
justify-content: space-between;

button{
  height: 30px;
  &:nth-of-type(2){
    margin: 0 20px;
  }
  svg{ 
    position: static;
  }
}
}