.container{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
    align-items: flex-end;
}
.input {
  margin-top: 10px;
  cursor: pointer !important;
  &:after,
  &:before {
    display: none;
  }
}

.button{
width: 150px;
height: 45px;
margin-right: 20px !important;
}
